<div class="canvas-layer canvas-layer-outer-container">
    <div class="canvas-layers-container">
        {{#if this.isGM}}<button class="ui-control canvas-layer-settings" title="{{localize "CanvasLayers.UI.LayerMenu"}}"><i class="fa-solid fa-gears"></i></button>{{/if}}
        {{#each this.layerData}}
            <button class="ui-control canvas-layer-container {{#if this.active}}active{{/if}}" data-layer="{{this.id}}">
                <div class="canvas-layer-container-name {{#if (eq this.type 2)}}controlled{{/if}} {{#if (eq this.playerMarkers.length 0)}}empty{{/if}}">{{this.name}}</div>
                {{#if (eq this.type 2)}}
                    <div class="canvas-layer-controlled-container">
                        {{#if (gt this.playerMarkers.length 0)}}
                            {{#each this.playerMarkers}}
                                <div class="canvas-layer-controlled-marker" style="background: {{this.color}}" title="{{this.name}}"></div>
                            {{/each}}
                        {{else}}
                            {{localize "CanvasLayers.UI.LayerMenuNoControlled"}}
                        {{/if}}
                    </div>
                {{/if}}
            </button>
        {{/each}}
    </div>
</div>